{
  "htmlWhitespaceSensitivity": "strict",
  "printWidth": 100,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["src/**/*.js?(x)"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
